# APP
APP_NAME=""
ENV=""
DEBUG=""
DEFAULT_ROLE=""

# CORS
CORS_ORIGINS="[]"

# JWT 
JWT_ALGORITHM=""
JWT_PRIVATE_KEY_PATH=""
JWT_PUBLIC_KEY_PATH=""
JWT_ISSUER=""
JWT_ACCESS_TTL_MINUTES=""
JWT_REFRESH_TTL_DAYS=""

# PASSWORD HASH (Argon2)
PEPPER=""
TIME_COST=""
MEMORY_COST=""
PARALLELISM=""
HASH_LEN=""
SALT_LEN=""
ENCODING=""

# DATABASE (Postgresql)
DB_HOST=""
DB_PORT=""
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""

# CACHE (Redis)
REDIS_HOST=""
REDIS_PORT=""
REDIS_DB=""
REDIS_PASSWORD=""
DECODE_RESPONSES=""

# OpenAI
OPENAI_API_KEY=""
OPENAI_MODEL=""
OPENAI_TEMPERATURE=""
OPENAI_MAX_TOKENS=""

# EMAIL
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""